#mentors .wrapper {
  background-image: linear-gradient(170deg, #ff7e3e 17%, #f49d03 100%);
}

#mentors .swiper-pagination {
  position: static !important;
  width: max-content;
  height: auto;
  display: flex;
  align-items: center;
}

#mentors .swiper-pagination .swiper-pagination-bullet {
  background-color: #d9d9d9;
  width: 16px;
  height: 16px;
}

#mentors .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

section#events .card__event {
  position: relative;
}

section#events .card__event::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), 30%, #ffffff00);
  z-index: 5;
}

section#events .card__event:hover:after {
  background-image: linear-gradient(to bottom, rgba(255, 126, 62, 0.5), rgba(115, 56, 27, 0.8));
}

section#projects .card__project {
  position: relative;
}

section#projects .card__project::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), 30%, #ffffff00);
  z-index: 5;
}

section#projects .card__project:hover:after {
  /* background-image: linear-gradient(to bottom, #ff7e3e50, #73381b80); */
}

section#footer footer {
  background-image: url(assets/img/footer-bg-2.png);
  background-size: cover;
  position: relative;
}

section#testimonials .card__testimonial {
  position: relative;
}

section#testimonials .card__testimonial::before {
  position: relative;
  display: block;
  content: url("assets/img/testimonial-decor-2.svg");
  top: -16px;
  left: 32px;
}

@media screen and (min-width: 767px) {
  section#mentors .mentor__description {
    width: 448px !important;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1024px) {
  section#mentors .mentor__social-media {
    background-image: linear-gradient(to bottom, #ff7e3e, #f49d03);
    animation: showMentorsSocials 1000ms forwards ease-in-out;
  }
}

@keyframes showMentorsSocials {
  from {
    transform: translateY(-100px) scale(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(75%);
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .hero-heading {
    position: relative;
  }

  .hero-heading::before {
    display: block;
    position: absolute;
    content: url("assets/img/hero-decor-1.svg");
    top: -56px;
    left: -28px;
  }
  .hero-heading::after {
    display: block;
    position: absolute;
    content: url("assets/img/hero-decor-2.svg");
    bottom: -28px;
    right: 0;
  }

  .programs-heading {
    position: relative;
  }

  .programs-heading::before {
    position: absolute;
    display: block;
    content: url("assets/img/programs-decor-1.svg");
    right: 38px;
    top: -22px;
  }

  section#company {
    position: relative;
  }

  section#company::after {
    position: absolute;
    display: block;
    content: url("assets/img/programs-decor-2.svg");
    left: 64px;
  }

  .offers-heading {
    position: relative;
  }

  .offers-heading::before {
    position: absolute;
    display: block;
    content: url("assets/img/offers-decor-1.svg");
    top: -32px;
    left: 128px;
  }

  section#offers .container .text-wrapper {
    position: relative;
  }

  section#offers .container .text-wrapper::after {
    position: absolute;
    display: block;
    content: url("assets/img/offers-decor-2.svg");
    top: 50px;
    right: 84px;
  }

  section#mentors .wrapper {
    position: relative;
  }

  section#mentors .wrapper::before {
    position: absolute;
    display: block;
    content: url("assets/img/mentor-decor-2-cropped.svg");
    left: 0;
    bottom: -10px;
    z-index: 999;
  }
  section#mentors .wrapper::after {
    position: absolute;
    display: block;
    content: url("assets/img/mentor-decor-1.svg");
    right: 38px;
    top: 0;
    z-index: 9999;
  }

  section#events .events-heading {
    position: relative;
  }

  section#events .events-heading::after {
    content: url("assets/img/event-decor-1.svg");
    display: block;
    position: absolute;
    top: -20px;
    left: 260px;
  }

  section#projects .projects-heading {
    position: relative;
  }

  section#projects .projects-heading::after {
    content: url("assets/img/projects-decor-1.svg");
    display: block;
    position: absolute;
    top: -20px;
    left: 230px;
  }

  section#projects .container {
    position: relative;
  }

  section#projects .container::after {
    position: absolute;
    display: block;
    content: url("assets/img/projects-decor-2.svg");
    top: 50px;
    right: 64px;
  }

  section#testimonials .text-wrapper {
    position: relative;
  }

  section#testimonials .text-wrapper::before {
    position: absolute;
    display: block;
    content: url("assets/img/testimonial-decor-1.svg");
    top: 90px;
    left: -200px;
  }

  section#testimonials .text-wrapper::after {
    position: absolute;
    display: block;
    content: url("assets/img/testimonial-decor-1.svg");
    top: 90px;
    right: -200px;
  }
}
