/* Hero */
section#hero main {
  background-image: url("../assets/img/about-hero.jpg");
  background-size: cover;
  background-position: center;
}
/* Hero */

/* Footer */
section#footer footer {
  background-image: url("../assets/img/footer-bg-2.png");
  background-size: cover;
  position: relative;
}
/* Footer */
